.grid-container{
    display: grid;
    grid-template-rows: auto 1fr;

    grid-template-areas: 
    "header"
    "main"
    ;
}

.card{
    width: 70%;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.main-dark {
    box-shadow: 0px 2px 1px hsl(210, 28%, 16%) inset;
}

.main-light{
    box-shadow: 0px 2px 1px hsl(214, 7%, 81%) inset;
    box-shadow: 0px 2px 1px hsl(214, 17%, 92%) inset;
}


body {
    font-family: 'Nunito Sans', sans-serif;
}

.transition1 {
    transition-property: background-color, box-shadow, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 400ms;
    /* transition: box-shadow 2s; */
}

.icono{
    position: relative;
    top: 21px;
    left: 25px;
}

.select-1{
    height: 56px;
}

@media (min-width: 1023px) {
    .input-1{
        right: 430px;
    }
}